<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="Book"></include>
  <include name="Search"></include>
  </run>
    </groups>
    <classes>
     <!--  <class name="testNGbasicAnnotations.AnnotationsTest"/>
      <class name="testNGbasicAnnotations.TestingAnnotationsTest"/>
      <class name="testNGbasicAnnotations.DependsonMethodTest"/>
      <class name="testNGbasicAnnotations.PriorityTest"/> -->
      <class name="testNGbasicAnnotations.GroupingTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
